<!DOCTYPE HTML>
<html lang="en-US">
<head charset="utf-8">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ STATIC_URL }}am_distribution/css/main.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}am_distribution/lib/colorbox/colorbox.css" />
</head>

<body>
    <div id="overlay"></div>
    <div class="inner content">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ STATIC_URL }}am_distribution/js/jquery-min.js"></script>
    <script src="{{ STATIC_URL }}am_distribution/lib/colorbox/jquery.colorbox-min.js"></script>
    <script src="{{ STATIC_URL }}am_distribution/js/main.js"></script>
</body>
</html>