@import 'reset.css'

.clearfix:after
   content " "
   display block
   height 0
   clear both

.left
    float left

.right
    float right

.inner
    margin 0 auto
    width 720px

header
    padding-top 40px
    height 107px
    border-bottom solid 2px #eee

    h1, h2
        font-size 20px

    h2
        text-transform uppercase
        margin-bottom 5px

    p
        font-size 13px
    a
        display block


.mediagroup
    border-bottom solid 2px #eee
    padding 20px 0

    .mediaset:last-child
        margin-right 0 !important
        
.mediaset
    width 216px
    margin-right 36px

    h3
        text-align center
        margin-bottom 10px

    img
        width 216px
        height 216px
