@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import 'reset.css';
body,
input,
button {
  font-family: 'Open Sans', sans-serif;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.inner {
  margin: 0 auto;
  width: 720px;
  position: relative;
}
a {
  color: #17b7f1;
  text-decoration: none;
}
header {
  padding-top: 40px;
  height: 107px;
  border-bottom: solid 2px #eee;
}
header h1,
header h2 {
  font-size: 20px;
}
header h2 {
  text-transform: uppercase;
  margin-bottom: 5px;
}
header p {
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}
header a {
  display: block;
  font-weight: 400;
  margin-top: 2px;
}
.active {
  color: #888;
}
.no-media-set {
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
  color: #aaa;
}
.mediagroup {
  border-bottom: solid 2px #eee;
  padding: 20px 0;
}
.mediagroup .mediaset:last-child {
  margin-right: 0 !important;
}
.mediaset {
  width: 216px;
  margin-right: 36px;
  text-decoration: none;
  color: #000;
}
.mediaset h3 {
  text-align: center;
  margin-bottom: 10px;
}
.mediaset .image_wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 212px;
  height: 216px;
  border: solid 1px #ddd;
}
.mediaset img {
  max-width: 215px;
  max-height: 215px;
}
nav {
  border-bottom: solid 2px #eee;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
nav > a {
  float: left;
  margin-right: 10px;
}
nav .download_all {
  float: right;
  font-size: 12px;
  color: #17b7f1;
  background: none;
  border: none;
  margin-right: 0;
  padding: 0 5px;
}
.download_section {
  margin-top: 20px;
  font-size: 13px;
}
.download_section h4 {
  float: left;
  margin-right: 5px;
}
.download_section a {
  padding: 0 5px;
  display: inline-block;
  border-right: solid 1px #000;
}
.download_section a:last-child {
  border-right: none;
}
#login_form {
  width: 262px;
  margin: 100px auto;
}
#login_form input,
#login_form button {
  border-radius: 2px;
}
#login_form input {
  display: block;
  width: 250px;
  border: solid 1px #ddd;
  padding: 5px;
  margin: 10px 0;
}
#login_form button {
  border: none;
  padding: 6px 0;
  width: 262px;
  background: #0cf;
  color: #fff;
}
#login_form button:active {
  background: #5bd;
}
#login_form .error_message {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  color: #f00;
  display: none;
}
#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
#download_all_version_type {
  display: none;
  position: absolute;
  width: 110px;
  z-index: 100;
  background: #eee;
  top: 169px;
  right: 0;
  border-radius: 0 0 5px 5px;
}
#download_all_version_type li {
  border-bottom: dotted 1px #ddd;
}
#download_all_version_type li:last-child {
  border-bottom: none;
  border-radius: 0 0 5px 5px;
}
#download_all_version_type li:hover {
  background: #ddd;
}
#download_all_version_type a {
  text-transform: uppercase;
  font-size: 12px;
  color: #888;
  display: block;
  padding: 5px;
}
