@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import 'reset.css';
body,
input,
button {
  font-family: 'Open Sans', sans-serif;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.inner {
  margin: 0 auto;
  width: 720px;
}
a {
  color: #17b7f1;
  text-decoration: none;
}
header {
  padding-top: 40px;
  height: 107px;
  border-bottom: solid 2px #eee;
}
header h1,
header h2 {
  font-size: 20px;
}
header h2 {
  text-transform: uppercase;
  margin-bottom: 5px;
}
header p {
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}
header a {
  display: block;
  font-weight: 400;
  margin-top: 2px;
}
.no-media-set {
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
  color: #aaa;
}
.mediagroup {
  border-bottom: solid 2px #eee;
  padding: 20px 0;
}
.mediagroup .mediaset:last-child {
  margin-right: 0 !important;
}
.mediaset {
  width: 216px;
  margin-right: 36px;
  text-decoration: none;
  color: #000;
}
.mediaset h3 {
  text-align: center;
  margin-bottom: 10px;
}
.mediaset img {
  width: 216px;
  height: 216px;
  box-shadow: 0 0 1px #aaa;
}
.download_section {
  margin-top: 20px;
  font-size: 13px;
}
.download_section h4 {
  float: left;
  margin-right: 5px;
}
.download_section a {
  padding: 0 5px;
  display: inline-block;
  border-right: solid 1px #000;
}
.download_section a:last-child {
  border-right: none;
}
.download_all {
  position: absolute;
  top: 120px;
  font-size: 12px;
  left: 50%;
  margin-left: -58px;
}
#login_form {
  width: 262px;
  margin: 100px auto;
}
#login_form input,
#login_form button {
  border-radius: 2px;
}
#login_form input {
  display: block;
  width: 250px;
  border: solid 1px #ddd;
  padding: 5px;
  margin: 10px 0;
}
#login_form button {
  border: none;
  padding: 6px 0;
  width: 262px;
  background: #0cf;
  color: #fff;
}
#login_form button:active {
  background: #5bd;
}
#login_form .error_message {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  color: #f00;
  display: none;
}
