<!DOCTYPE HTML>
<html lang="en-US">
<head charset="utf-8">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ STATIC_URL }}django_press_gallery/css/main.css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="inner">
        <header>
            <div class="left">
                <h2>am</h2>
                <h1>Press Photography</h1>
            </div>
            <p class="right">Jane Smith<a href="#">pr@getclean.com</a></p>
        </header>
        {% block content %}{% endblock %}
    </div>
    <!--
    <script src="{{ STATIC_URL }}django_press_gallery/js/jquery-min.js"></script>
    <script src="{{ STATIC_URL }}django_press_gallery/js/main.js"></script> -->
</body>
</html>