{% extends "django_press_gallery/base.html" %}

{% block title %}Press Photos | Media{% endblock %}

{% block content %}
<header>
    <div class="left">
        <h2>am</h2>
        <h1>Press Photography</h1>
    </div>
    <!--<p class="right">Jane Smith<a href="#">pr@getclean.com</a></p>-->
</header>
<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="" class="active">{{ media_set.title }}</a>
    {% if versions %}
        <button id="download_all_version_type_btn" class="download_all" type="button">Download set</button>
        <ul id="download_all_version_type">
            {% for version in versions %}
                <li><a href="{% url 'download_files' mediaset_id=media_set.pk version=version %}">{{ version }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>
{% if media %}
<div class="mediagroup clearfix">
    {% for record in media %}
    <div class="mediaset left">
        <h3>{{ record.mediafiles_set.all.0.media.title }}</h3>
        <a class="media_group" href="{{ record.mediafiles_set.all.0.media_file.modal.url }}" title="{{ record.mediafiles_set.all.0.media.title }}">
            <div class="image_wrapper">
                <img src="{{ record.mediafiles_set.all.0.media_file.avatar.url }}">
            </div>
        </a>

        <section class="download_section">
            <h4>Download:</h4>
            {% for mediafile in record.mediafiles_set.all %}<a href="{% url 'download' mediafile.id %}">{{ mediafile.description }}</a>{% endfor %}
        </section>
    </div>
    {% if forloop.counter|divisibleby:"3" %}
    </div>
    {% if not forloop.last %}
        <div class="mediagroup clearfix">
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p class="no-media-set">No media Item available.</p>
{% endif %}

{% endblock %}
